body{
    direction: rtl;
    unicode-bidi: embed;
}
.overlay{
	left: auto;
    right: 0;
}
ul, ol{
	padding: 0;
	margin: 0;
}
ul ul, ol ol, ul ol, ol ul{
	padding-left: 0;
    padding-right: 30px;
}
.alignleft{
    float: right;
	/** margin: 0 20px 0px 0; **/
    margin: 0 0 0px 20px;
}

/* --------------------- */
/* ---- 	HEADER 	--- */
/* -------------------- */
#header .header-left{
	float: right;
}
#header .header-right{float: left;}
.icon-header-socialshare{
	float: left;
	margin-left: 0;
    margin-right: 20px;    
}
.icon-header-search{
	float: left;
	margin-left: 0;
    margin-right: 17px;
}
.header-cart{
	float: right;
	margin-right: 15px;
	margin-left: 24px;
}

.header-cart .cart-number-items{
	margin-left: 0;
    margin-right: 14px;
}
.ts-main-menu{
	float: left;
}

.ts-main-menu > ul > li > a:after{
	left: auto;
    right: 0;
}
.ts-header-contact-info .contact-text {
    border-right: none;
	border-left: 1px solid rgba(255,255,255,0.08);
}
.ts-header-contact-info .contact-text:first-child{
	border-left: none;
    border-right: 1px solid rgba(255,255,255,0.08);
}
.ts-header-contact-info .contact-text .icon{
	margin-right: 0;
    margin-left: 10px;
}
.ts-header-social a{
	border-right: none;
    border-left: 1px solid rgba(255,255,255,0.1);
	float: right;
}
.ts-header-social a:first-child{
	border-left: none;
    border-right: 1px solid rgba(255,255,255,0.1);
}
/* navigation style2 */
.header-style-2 .ts-header-contact-info .contact-text {
	border-right-color: transparent;
    border-left-color: rgba(0,0,0,0.05);
}
.header-style-2 .ts-header-contact-info .contact-text:first-child{
	border-left-color: transparent;
    border-right-color: rgba(0,0,0,0.05);
}
/* navigation style3 */


/* --------------------- */
/* --- 	BANNER PAGE ---- */
/* --------------------- */

.hero-section-image .hero-section-content{
	left: auto;
    right: 50%;
}


/* -------------------- */
/* 		FOOTER 			*/
/* -------------------- */

.ts-contact-widget .contact-info > div .text{
	padding-left: 0;
    padding-right: 15px;
}
.ts-contact-widget .contact-info > div .icon{
	border-right: none;
    border-left: 1px solid #3d3e41;
	padding: 5px 0 5px 14px;
}
.ts-recent-project .ts-project-list li{
	float: right;
	padding: 0 0 7px 7px;
}
.ts-recent-project .ts-project-list .overlay-hover{
	left: auto;
    right: 0;
}
.ts-recent-project .ts-project-list .overlay-hover .icon{
	left: auto;
    right: 50%;
}
.ts-recentpost .recent_posts_list li a:before{
	margin-right: 0;
    margin-left: 8px; 
}
.bottom-footer .copyright{
    float: right; 
}
.bottom-footer .social-footer{float: left;}
.bottom-footer .social-footer li{
	margin-left: 0;
    margin-right: 29px;
}
/* -------------------------------- */
/* 			SHORTCODE 				*/
/* -------------------------------- */
/* ------ACCORDION------- */
.ts-acordion .alignleft{
	margin: 0 0 0 20px;
}
.ts-acordion.accordion-style1  > h3 span.icon{
	border-right: none;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
	margin-right: 0;
    margin-left: 17px;
}
.ts-acordion.accordion-style1.light  > h3 span.icon{
	border-right-color: transparent;
    border-left-color: rgba(255,255,255,0.3);
}
.ts-acordion.accordion-style2  > h3.ui-accordion-header{
	padding-left: 0;
    padding-right: 20px;
}
.ts-acordion.accordion-style2.dark  > h3.ui-accordion-header.ui-accordion-header-active{
	background-color: #27282d;
	color: #ffffff;
	border-color: #27282d;
}
.ts-acordion .acordion-content{
	padding: 30px 18px 25px 15px;
}
.ts-acordion.accordion-style1 > h3.ui-accordion-header span.ui-accordion-header-icon{
	right: auto;
	left: 12px;
}
.ts-acordion.accordion-style2 > h3.ui-accordion-header span.ui-accordion-header-icon{
	right: auto;
	left: 0;
	border-left: none;
    border-right: 1px solid; /* den day roi */
}
.ts-acordion.accordion-style2 > h3.ui-accordion-header span.ui-accordion-header-icon{
	border-left-color: rgba(0,0,0,0.08);
}
.ts-acordion.accordion-style2 > h3.ui-accordion-header.ui-accordion-header-active span.ui-accordion-header-icon{
	border-left-color: #444448;
}
.ts-acordion.accordion-style2.light > h3.ui-accordion-header span.ui-accordion-header-icon{
	border-left-color: rgba(255,255,255,0.3);
}
.ts-acordion.accordion-style2.light > h3.ui-accordion-header.ui-accordion-header-active span.ui-accordion-header-icon{
	border-left-color: rgba(0,0,0,0.08);
}
.ts-acordion.accordion-style2.dark > h3.ui-accordion-header span.ui-accordion-header-icon{
	background: url(../images/icon-arrowup-dark.png) no-repeat center;
}
.ts-acordion.accordion-style2.dark > h3.ui-accordion-header.ui-accordion-header-active span.ui-accordion-header-icon{
	background: url(../images/icon-arrowdown-dark.png) no-repeat center;
}
.ts-acordion.accordion-style2.light > h3.ui-accordion-header span.ui-accordion-header-icon{
	background: url(../images/icon-arrowup-light.png) no-repeat center;
}
.ts-acordion.accordion-style2.light > h3.ui-accordion-header.ui-accordion-header-active span.ui-accordion-header-icon{
	background: url(../images/icon-arrowdown-light.png) no-repeat center;
}

/* ----------TITLE SECTION--------- */
.title-section{
	position: relative;
	margin-bottom: 55px;
	text-align: center;
}
.title-section h4{
	letter-spacing: 4px;
	font-size: 14px;
	margin: 0;
	text-transform: uppercase;
}
.title-section.text-left{
	text-align: left;
}
.title-section.text-right{
	text-align: right;
}

.title-section .hr{
	width: 30px;
	height: 2px;
	background: #000000;
	display: block;
	margin: 10px auto 0;
}
.title-section p{
	margin-top: 30px;
}
.title-section.text-left .hr{
	float: left;
}
.title-section.text-right .hr{
	float: right;
}
.title-section.light .hr{
	background: #ffffff;
}
.title-section.light h4{
	color: #ffffff;
}
.title-section.light{
	color: #ffffff;
}

/* ----- CTA ------- */
.ts-cta:after, .ts-cta:before{
	content: " ";
    display: table;
}
.ts-cta:after{
	clear: both;
}
.ts-cta{
	display: table;
	padding: 45px 0;
	width: 100%;
	color: #ffffff;
	position: relative;
}
.ts-cta .left-cta{
	display: table-cell;
	vertical-align: middle;
}
.ts-cta .right-cta{
 display: table-cell;
	vertical-align: middle;
	float: right;
}
.ts-cta .icon{
	font-size: 60px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 27px
}
.ts-cta  .content-cta{
	display: inline-block;
	vertical-align: middle;
}
.ts-cta h3, .ts-cta .content-cta h3{
	font-size: 16px;
	letter-spacing: 4px;
	color: #ffffff;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	margin: 0;
}
.ts-cta .content-cta p{
	margin-bottom: 0;
}
.ts-cta .ts-button-shortcode{
	margin: 0;
}
.ts-cta .ts-button-shortcode.button-outline{
	border-color: #ffffff;
	color: #ffffff;
	white-space: nowrap;
}
.ts-cta.style-center{
	text-align: center;
}
.ts-cta.style-center .left-cta,
.ts-cta.style-center .right-cta{
	display: block;
	float: none;
}
.ts-cta.style-center .icon{
	display: block;
	margin-bottom: 20px;
	margin-right: 0;
}
.ts-cta.style-center .right-cta{
	margin-top: 20px;
}
/* -------ANIMATE CLOUMN-------- */
.shortcode-column:after, .shortcode-column:before{
	content: "";
	display: table;
}
.shortcode-column::after {
  clear: both;
}
.shortcode-column.two-column .column-item{
	width:50%;
}
.shortcode-column.three-column .column-item{
	width:33.33%;
}
.shortcode-column.four-column .column-item{
	width: 25%;
}
.shortcode-column.five-column .column-item{
	width: 20%;
}
.shortcode-column .column-item{
	position: relative;
	float: left;
}
.shortcode-column h3{
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0;
}
.shortcode-column .link-readmore{
	font-size: 8px;
	text-transform: uppercase;
	font-family: 'Varela Round';
	color: #ffffff;
	letter-spacing: 4px;
	-webkit-transition: -webkit-transform 0.3s ease-in-out 0s;
	-o-transition: -o-transform 0.3s ease-in-out 0s;
	transition: transform 0.3s ease-in-out 0s;
	display: inline-block;
	position: relative;
}
.shortcode-column .link-readmore:after{
	content: "\e04b";
	font-family: 'linea-arrows-10';
	font-size: 14px;
	display: inline-block;
	vertical-align: top;
	/*margin-left: 5px;*/
}
.shortcode-column .link-readmore:before{
	content: "";
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 0;
	background: #ffffff;
	-webkit-transition: width 0.3s ease 0s;
	-o-transition: width 0.3s ease 0s;
	transition: width 0.3s ease 0s;
}
.shortcode-column .link-readmore:hover:before{
	width: 97%;
}
/* multiple-column */
.shortcode-column.multiple-column .column-item{
	border-top: 1px solid rgba(0,0,0,0.08);
	border-bottom: 1px solid rgba(0,0,0,0.08);
	border-right: 1px solid rgba(179,179,179,0.2);
	text-align: center;
	position: relative;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.shortcode-column.multiple-column .column-item .column-title{
	padding: 135px 39px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.shortcode-column.multiple-column .column-item .column-title .icon{
	color: #aa9d71;
	font-size: 40px;
	line-height: 26px;
	text-transform: uppercase;
}
.shortcode-column.multiple-column .column-item .column-title h3{
	font-size: 12px;
	margin-top: 10px;
}
.shortcode-column.multiple-column .column-item:hover{
	background-color: #879999;
}
.shortcode-column.multiple-column .column-item .content-hover{
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
    padding: 39px;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #ffffff;
}
.shortcode-column.multiple-column .column-item:hover .column-title{
	opacity: 0;
	filter: alpha(opacity=0);
}
.shortcode-column.multiple-column .column-item:hover .content-hover{
	opacity: 1;
	filter: alpha(opacity=1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
.ts-table{
	display: table;
	width: 100%;
	height: 100%;
}
.ts-table-cell{
	display: table-cell;
	vertical-align: middle;
}
/* colorful-animate */
.shortcode-column.colorful-animate .column-item{
	min-height: 502px;
	text-align: center;
	padding: 75px 38px;
	color: #fff;
	overflow: hidden;
}
.shortcode-column.colorful-animate .column-item::before, .shortcode-column.colorful-animate .column-item::after {
  bottom: 20px;
  content: "";
  left: 20px;
  opacity: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
  z-index: 1;
}
.shortcode-column.colorful-animate .column-item::before {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
}
.shortcode-column.colorful-animate .column-item::after {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
}
.shortcode-column.colorful-animate .column-item:hover::before, 
.shortcode-column.colorful-animate .column-item:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s;
  -o-transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s;
  transition: opacity 0.4s ease 0s, transform 0.45s ease 0.2s;
}
.shortcode-column.colorful-animate .column-item .column-title .icon{
	font-size: 80px;
	color: #ffffff;
}
.shortcode-column.colorful-animate .column-item .column-title .icon:after{
	content: "";
	width: 31px;
	height: 2px;
	background-color: white;
	display: block;
	margin: 13px auto 0;
}
.shortcode-column.colorful-animate .column-item .column-title h3{
	font-size: 16px;
	color: #ffffff;
	margin: 20px 0 25px 0;
}
.shortcode-column.colorful-animate .column-item .ts-button{
	padding: 3px 25px;
	margin-top: 25px;
}
.shortcode-column.colorful-animate .column-item .ts-button:hover{
	background: #ffffff;
	border-color: #ffffff;
	color: #000000;
}
.shortcode-column.colorful-animate .column-item .content-hover{
	width: 100%;
	opacity: 0;
	height: 0;
	-webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
	-o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
	transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
	-webkit-transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
	-ms-transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
	-o-transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
	transform: perspective(500px) rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
	padding: 0;
	z-index: 2;
}
.shortcode-column.colorful-animate .column-item:hover .content-hover{
	height: auto;
	opacity: 1;
	filter: alpha(opacity=1);
	-webkit-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-ms-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	-o-transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	transform: perspective(500px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.shortcode-column.colorful-animate .column-item .column-title {
  -webkit-transition: all 300ms cubic-bezier(.13,.62,.81,.91) 0s;
  -o-transition: all 300ms cubic-bezier(.13,.62,.81,.91) 0s;
  transition: all 300ms cubic-bezier(.13,.62,.81,.91) 0s;
  position: relative;
  z-index: 2;
  -webkit-transform: translateY(75px);
  -ms-transform: translateY(75px);
  -o-transform: translateY(75px);
  transform: translateY(75px);
}
.shortcode-column.colorful-animate .column-item:hover .column-title {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
/* image-background */
.shortcode-column.image-background .column-item{
	color: #ffffff;
	overflow: hidden;
}
.shortcode-column.image-background .background-column{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background-size: cover;
	background-repeat: no-repeat;
}
.shortcode-column.image-background .column-item:hover .background-column{
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}
.shortcode-column.image-background .column-item .icon{
	font-size: 60px;
}
.shortcode-column.image-background .column-item h3{
	font-size: 14px;
	color: #ffffff;
	margin: 18px 0;
}
.shortcode-column.image-background .column-item .content-column{
	background-color: rgba(170,153,113,0.8);
	padding: 67px 39px;
	position: relative;
	height: 100%;
}
.shortcode-column.image-background .column-item:nth-child(2n) .content-column{
	background-color: rgba(0,0,0,0.7);
}
.shortcode-column.image-background.five-column .column-item .content-column{
	min-height: 380px;
    padding: 50px 39px;
}
/* simple icon */
.shortcode-column.slimple-icon .column-item{
	min-height: 252px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	border: 1px solid rgba(0,0,0,0.08);
	border-left: none;
	overflow: hidden;
}
.shortcode-column.slimple-icon .column-item:first-child{border-left: 1px solid rgba(0,0,0,0.08);}
.shortcode-column.slimple-icon .column-item:hover{
	background-color: #aa9d71;
}
.shortcode-column.slimple-icon .column-item .icon{
	color: #aa9d71;
	font-size: 50px;
	text-transform: uppercase;
}
.shortcode-column.slimple-icon .column-item h3{
	font-size: 12px;
	color: #ffffff;
}
.shortcode-column.slimple-icon .column-item .column-icon{
	display: block;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 105px;
	-webkit-transition: all 300ms cubic-bezier(0.790, 0.355, 0.460, 0.750);
	-o-transition: all 300ms cubic-bezier(0.790, 0.355, 0.460, 0.750);
	transition: all 300ms cubic-bezier(0.790, 0.355, 0.460, 0.750);
}
.shortcode-column.slimple-icon .column-item:hover .column-icon{
	top: 100%;
}
.shortcode-column.slimple-icon .column-item .column-title{
	padding-top: 125px;
	display: block;
	height: 100%;
	position: absolute;
	top: -100%;
	width: 100%;
	-webkit-transition: all 300ms cubic-bezier(0.790, 0.355, 0.460, 0.750);
	-o-transition: all 300ms cubic-bezier(0.790, 0.355, 0.460, 0.750);
	transition: all 300ms cubic-bezier(0.790, 0.355, 0.460, 0.750);
}
.shortcode-column.slimple-icon .column-item:hover .column-title{
	top: 0;
}
/* -------ANIMATION NUMBER------- */
.ts-animate-number{text-align: center;}
.ts-animate-number .title{
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000000;
	margin: 10px 0 0;
	font-weight: 400;
}
.ts-animate-number .number{
	font-family: 'Roboto';
	color: #000000;
	font-weight: 100;
	line-height: normal;
}
.ts-animate-number.number-style-1 .number{
	font-size: 60px;
}
.ts-animate-number.number-style-1 .title{
	font-size: 12px;
}
.ts-animate-number.number-style-2 .icon{
	width: 126px;
	height: 126px;
	line-height: 126px;
	background-color: #aa9d71;
	color: #ffffff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	font-size: 40px;
	text-align: center;
	display: inline-block;
	position: relative;
}
.ts-animate-number.number-style-2 .icon:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.ts-animate-number.number-style-2 .icon:hover:after{
	border: 5px solid #aa9d71;
	-webkit-animation: 2s ease 0s normal none infinite running bullets;
	-o-animation: 2s ease 0s normal none infinite running bullets;
	animation: 2s ease 0s normal none infinite running bullets;
}
@keyframes bullets
{
  0%{transform: scale(1);opacity: 1;}
  80%{transform: scale(1.5);opacity: 0;}
  100%{transform: scale(2);opacity: 0;}
}

@-moz-keyframes bullets
{
  0%{-moz-transform: scale(1);opacity: 1;}
  80%{-moz-transform: scale(1.5);opacity: 0;}
  100%{-moz-transform: scale(2);opacity: 0;}
}

@-webkit-keyframes bullets
{
  0%{-webkit-transform: scale(1);opacity: 1;}
  80%{-webkit-transform: scale(1.5);opacity: 0;}
  100%{-webkit-transform: scale(2);opacity: 0;}
}
@-o-keyframes bullets
{
  0%{-o-transform: scale(1);opacity: 1;}
  80%{-o-transform: scale(1.5);opacity: 0;}
  100%{-o-transform: scale(2);opacity: 0;}
}
.ts-animate-number.number-style-2 .number{
	font-size: 30px;
}
.ts-animate-number.number-style-2 .title{
	font-size: 9px;
	margin: 23px 0 8px;
}
.ts-animate-number.number-style-3{
	border: 1px solid rgba(0,0,0,0.08);
	border-left: none;
	min-height: 334px;
	position: relative;
	padding: 90px 0;
}
.ts-animate-number.number-style-3 .icon{
	font-size: 200px;
	opacity: 0.08;
	filter: alpha(opacity=0.08);
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	padding-bottom: 20px;
}
.ts-animate-number.number-style-3 .number{
	font-size: 60px;
}
.ts-animate-number.number-style-3 .number:after{
	content: "";
	display: block;
	width: 28px;
	height: 2px;
	background-color: black;
	margin: 3px auto;
}
.ts-animate-number.number-style-3 .title{
	font-size: 12px;
	line-height: 40px;
	margin: 0;
}
.ts-animate-number.number-style-4{
	border: 2px solid #ebebeb;
	border-top: none;
	padding: 48px 20px;
	min-height: 180px;
	position: relative;
}
.ts-animate-number.number-style-4 .number{
	font-size: 60px;
}
.ts-animate-number.number-style-4 .title{
	font-size: 12px;
}
.ts-animate-number.number-style-4 .icon-number{
	color: #aa9d71;
	font-size: 40px;
	position: absolute;
	top: -22px;
	overflow: hidden;
	left: -2px;
	right: -2px;
}
.ts-animate-number.number-style-4 .border-icon{
	position: relative;
	display: inline-block;
}
.ts-animate-number.number-style-4 .border-icon:after,
.ts-animate-number.number-style-4 .border-icon:before{
	content: "";
	border-bottom: 2px solid #ebebeb;
	position: absolute;
	height: 2px;
	display: block;
	width: 999%;
	top: 50%;
}
.ts-animate-number.number-style-4 .border-icon:after{
	margin-left: 15px;
	left: 100%;
}
.ts-animate-number.number-style-4 .border-icon:before{
	right: 100%;
	margin-right: 15px;
}
/* ----- BOXES ------ */
.ts-textbox{
	border: 1px solid rgba(0, 0, 0, 0.08);
	padding: 35px 30px 25px;
	margin-top: 33px;
}
.ts-textbox.no-border{
	border: none;
}
.ts-textbox.light{
	color: #ffffff;
	background: #aa9d71;
}
.ts-textbox h4{
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0 0 30px 0;
	font-size: 12px;
}
.ts-textbox.light h4{
	color: #ffffff;
}
.ts-textbox h4:after{
	content: "";
	width: 30px;
	height: 2px;
	opacity: 0.1;
	filter: alpha(opacity=10);
	background-color: black;
	margin-top: 8px;
	display: block;
}
.ts-textbox.light h4:after{
	opacity: 0.3;
	filter: alpha(opacity=30);
	background-color: white;
}
.ts-textbox.line-top{
	border-top: 3px solid #aa9d71;
}
.ts-textbox.line-left{
	border-left: 3px solid #aa9d71;
}
.ts-textbox.line-right{
	border-right: 3px solid #aa9d71;
}
.ts-textbox.line-bottom{
	border-bottom: 3px solid #aa9d71;
}
.ts-textbox.line-all{
	border: 3px solid #aa9d71;
}
/* ----------BUTTON-------- */
.ts-button-shortcode{
	color: white;
	font-family: 'Varela Round';
	font-size: 9px;
	font-weight: 400;
	line-height: 26px;
	background: #aa9d71;
	display: inline-block;
	padding: 7px 28px;
	margin-bottom: 30px;
	margin-right: 10px;
	letter-spacing: 4px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	position: relative;
	overflow: hidden;
}
.ts-button-shortcode:hover,
.ts-button-shortcode:focus{color: #ffffff;}
.ts-button-hover{
  background: transparent none repeat scroll 0 0;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  z-index: 2;
}

.ts-button-shortcode.button-round{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.ts-button-shortcode.button-circle{
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
}
.ts-button-shortcode .ts-icon-button{
	display: inline-block;
	font-size: 20px;
	vertical-align: middle;
	line-height: 20px;
	z-index: 3;
	position: relative;
}
.ts-button-shortcode .ts-icon-button .icon:before{
	line-height: 26px;
}
.ts-button-shortcode .ts-button-text{
	display: inline-block;
	position: relative;
	z-index: 3;
}
.ts-button-shortcode.button-outline{
	border: 2px solid #000000;
	background: transparent;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}
.button-outline:hover .ts-icon-button{
	color: #ffffff;
}
.button-3d{
	box-shadow: 0 3px 0 #887d55;
	-moz-box-shadow: 0 3px 0 #887d55;
	-webkit-box-shadow: 0 3px 0 #887d55;
}
.button-3d:hover, .button-3d:focus{
	box-shadow: 0 3px 0 #887d55;
	-moz-box-shadow: 0 3px 0 #887d55;
	-webkit-box-shadow: 0 3px 0 #887d55;
}
/* Hover button */
.button-hover-1 .ts-button-hover{
	left: -100%;
}
.button-hover-1:hover .ts-button-hover {
	left: 0;
}
.button-hover-2 {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.button-hover-2:hover{
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
}
.button-hover-3{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.button-hover-3:hover{
	-webkit-transform: translateY(5px);
	-ms-transform: translateY(5px);
	-o-transform: translateY(5px);
	transform: translateY(5px);
}
.button-hover-3 .ts-button-hover{
	top: -100%;
}
.button-hover-3:hover .ts-button-hover{
  top: 0;
}
.button-hover-4:hover{
	-webkit-animation: 1s ease 0s normal none 1 running horizontal;
	-o-animation: 1s ease 0s normal none 1 running horizontal;
	animation: 1s ease 0s normal none 1 running horizontal;
}

.button-hover-5 .ts-icon-button{
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 500px;
	display: inline-block;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
	transition: all 0.45s ease 0s;
	text-align: center;
	z-index: 3;
	color: #ffffff;
}
.button-hover-5:hover .ts-icon-button{
	top: 0;
}
.button-hover-5 .ts-icon-button .icon{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.button-hover-5 .ts-button-text{
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.45s ease 0s;
	-o-transition: all 0.45s ease 0s;
	transition: all 0.45s ease 0s;
}
.button-hover-5:hover .ts-button-text{
	-webkit-transform: translateY(-500px);
	-ms-transform: translateY(-500px);
	-o-transform: translateY(-500px);
	transform: translateY(-500px);
}
.button-hover-5 .ts-button-hover{
	top: -100%;
}
.button-hover-5:hover .ts-button-hover{
  top: 0;
}

.button-hover-6:hover{
	-webkit-animation: 1s ease 0s normal none 1 running horizontal;
	-o-animation: 1s ease 0s normal none 1 running horizontal;
	animation: 1s ease 0s normal none 1 running horizontal;
}
.button-hover-6{
	padding-left: 40px;
	padding-right: 40px;
}
.button-hover-6 .ts-icon-button{
	line-height: 1;
	opacity: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	right: -2em;
	z-index: 3;
	color: #ffffff;
}
.button-hover-6:hover .ts-icon-button{
	right: 5px;
	opacity: 1;
	filter: alpha(opacity=1);
}

.button-hover-7 .ts-button-hover{
	top: -100%;
	background: #ccc;
}
.button-hover-7:hover .ts-button-hover{
  top: 0;
}

.button-hover-8:hover{
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9);
}

.button-hover-9:hover{
	letter-spacing: 6px;
}
.button-hover-10:after{
	background: #fff none repeat scroll 0 0;
	content: "";
	height: 155px;
	left: -75px;
	opacity: 0.2;
	position: absolute;
	top: -50px;
	-webkit-transform: rotate(35deg);
	-ms-transform: rotate(35deg);
	-o-transform: rotate(35deg);
	transform: rotate(35deg);
	-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
	-o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
	width: 50px;
	z-index: 2;
}
.button-hover-10:hover::after {
  left: 120%;
  -webkit-transform:  all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -ms-transform:  all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transform:  all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transform:  all 550ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.button-hover-11 .ts-button-hover{
	-webkit-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);
}
.button-hover-11:hover .ts-button-hover{
	-webkit-transform: scaleY(1);
	-ms-transform: scaleY(1);
	-o-transform: scaleY(1);
	transform: scaleY(1);
}
.button-hover-12 .ts-button-hover{
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
}
.button-hover-12:hover .ts-button-hover{
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
	transform: scaleX(1);
}
@-webkit-keyframes horizontal{
	16.65%{
		-webkit-transform:translateX(8px);
		transform:translateX(8px)
	}
	33.3%{
		-webkit-transform:translateX(-6px);
		transform:translateX(-6px)
	}
	49.95%{
		-webkit-transform:translateX(4px);
		transform:translateX(4px)
	}
	66.6%{
		-webkit-transform:translateX(-2px);
		transform:translateX(-2px)
	}
	83.25%{
		-webkit-transform:translateX(1px);
		transform:translateX(1px)
	}
	100%{
		-webkit-transform:translateX(0);
		transform:translateX(0)
		}
}
@keyframes horizontal{
	33.3%{
		-webkit-transform:translateX(-6px);
		transform:translateX(-6px)
	}
	49.95%{
		-webkit-transform:translateX(4px);
		transform:translateX(4px)
	}
	66.6%{
		-webkit-transform:translateX(-2px);
		transform:translateX(-2px)
	}
	83.25%{
		-webkit-transform:translateX(1px);
		transform:translateX(1px)
	}
	100%{
		-webkit-transform:translateX(0);
		transform:translateX(0)
		}
}
/* Button size */
.ts-buttons-center{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.small-button{
	padding: 4px 19px;
}
.normal-button{
	padding: 7px 28px;
}
.large-button{
	padding: 14px 60px;
}
.block-button{
	display: block;
	margin-right: 0;
	padding: 14px 60px;
}
/* -----------CLIENT------------ */
.ts-client-shortcode{overflow: hidden;}
.ts-client-shortcode .client-item{
	text-align: center;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.ts-client-shortcode.owl-carousel .owl-item img{
	width: auto;
}
.ts-client-shortcode .client-item img{
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin: 0 auto;
}
.ts-client-shortcode .client-item:hover img{
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-client-shortcode .client-item{
	float: left;
}
.ts-client-shortcode.has-slide .client-item{
	float: none;
}
.ts-client-shortcode.three-item .client-item{
	width: 33.3334%;
}
.ts-client-shortcode.four-item .client-item{
	width: 25%;
}
.ts-client-shortcode.five-item .client-item{
	width: 20%;
}
.ts-client-shortcode.six-item .client-item{
	width: 16.6667%;
}
.client-boxed{
	border: 1px solid rgba(0,0,0,0.08);
}
.client-boxed .client-item{
	border-bottom: 1px solid rgba(0,0,0,0.08);
	border-left: 1px solid rgba(0,0,0,0.08);
	padding: 40px 20px;
	min-height: 193px;
}
.client-boxed .client-item:hover{
	background-color: #f8f8f8;
}
.client-boxed .client-item:first-child{
	border-left: none;
}
.client-boxed .client-item:last-child,
.client-boxed .client-item.row-end{
	border-bottom: none;
}
.client-boxed.three-item .client-item:nth-child(3n+1){
	border-left: none;
	clear: both;
}
.client-boxed.four-item .client-item:nth-child(4n+1){
	border-left: none;
	clear: both;
}
.client-boxed.five-item .client-item:nth-child(5n+1){
	border-left: none;
	clear: both;
}
.client-boxed.six-item .client-item:nth-child(6n+1){
	border-left: none;
	clear: both;
}
.client-boxed.has-slide .owl-item{
	border-right: 1px solid rgba(0,0,0,0.08)
}
.client-grid .client-item{
	padding: 27px 20px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
	border-left: 1px solid rgba(0,0,0,0.08);
}
.client-grid .client-item.row-end{
	border-bottom: none;
}
.client-grid.three-item .client-item:nth-child(3n+1){
	border-left: none;
	clear: both;
}
.client-grid.four-item .client-item:nth-child(4n+1){
	border-left: none;
	clear: both;
}
.client-grid.five-item .client-item:nth-child(5n+1){
	border-left: none;
	clear: both;
}
.client-grid.six-item .client-item:nth-child(6n+1){
	border-left: none;
	clear: both;
}
.client-imagethumbs .client-item{
	min-height: 332px;
	overflow: hidden;
	position: relative;
	padding: 109px 20px;
}
.client-imagethumbs .client-item .ts-bg-client{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.client-imagethumbs .client-item .ts-bg-client:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(39,40,45,0.8);
}
.client-imagethumbs .client-item:hover .ts-bg-client{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.client-imagethumbs .client-item figure{position: relative;}
.ts-client-shortcode.client-imagethumbs .client-item img{
	opacity: 1;
	filter: alpha(opacity=1);
}
/* ---------PORTFOLIO CAROUSEL------ */
.ts-portfolio-carousel .info-porfolio h4{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 10px;
	margin: 0;
}
.ts-carousel-modern .info-porfolio h4 a{
	color: #ffffff;
}
.ts-carousel-mini .info-porfolio h4 a{
	color: #000000;
}
.ts-portfolio-carousel .info-porfolio h4 a:hover{
	color: #aa9d71;
}
.ts-portfolio-carousel .info-porfolio .list-category{
	text-transform: uppercase;
	font-size: 8px;
	letter-spacing: 4px
}
.ts-portfolio-carousel .item-portfolio{
	position: relative;
	overflow: hidden;
}
.ts-portfolio-carousel .item-portfolio .content-hover{
	position: absolute;
	left: 50%;
	top: -50px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	z-index: 2;
	font-size: 18px;
	line-height: 30px;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.ts-portfolio-carousel .item-portfolio:hover .content-hover{
	top: 50%;
}
.ts-portfolio-carousel  .content-hover .icon{
	cursor: pointer;
}
.ts-portfolio-carousel .item-portfolio .content-hover .icon-arrows-plus{
	font-size: 31px;
}
.ts-portfolio-carousel .item-portfolio .img-portfolio{position: relative;}
.ts-portfolio-carousel .item-portfolio .img-portfolio:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: all 0.3s ease 0s;
	-ms-transform: all 0.3s ease 0s;
	-o-transform: all 0.3s ease 0s;
	transform: all 0.3s ease 0s;
	background: rgba(39,40,45,0.8);
	z-index: 1;
}
.ts-portfolio-carousel .item-portfolio:hover .img-portfolio:after{
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-carousel-modern .item-portfolio .info-porfolio{
	position: absolute;
	z-index: 3;
	bottom: -100px;
	text-align: center;
	-webkit-transition: bottom 0.4s ease 0s;
	-o-transition: bottom 0.4s ease 0s;
	transition: bottom 0.4s ease 0s;
}
.ts-carousel-modern .item-portfolio:hover .info-porfolio{
	bottom: 35px;
}
.ts-carousel-modern  .content-hover{
	color: rgba(255,255,255,0.3);
}
.ts-carousel-modern  .content-hover .border-right{
	width: 1px;
	height: 69px;
	background-color: rgba(255,255,255,0.1);
	display: inline-block;
	margin: 0 15px 0 10px;
}
.ts-carousel-modern  .content-hover .icon{
	display: inline-block;
	vertical-align: top;
	line-height: 70px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.ts-carousel-modern  .content-hover .icon:hover{
	color: #ffffff;
}
.ts-portfolio-carousel .item-portfolio .info-porfolio{
	width: 100%;
}
.ts-portfolio-carousel .img-portfolio{overflow: hidden;}
.ts-portfolio-carousel .item-portfolio img{
	-webkit-transition: all 0.4s linear 0s;
	-o-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
}
.ts-portfolio-carousel .item-portfolio:hover img{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.ts-portfolio-carousel.owl-carousel .owl-controls .owl-nav .owl-prev, 
.ts-portfolio-carousel.owl-carousel .owl-controls .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 30px;
	height: 61px;
	line-height: 61px;
	text-align: center;
	opacity: 0.5;
	filter: alpha(opacity=50);
	background-color: black;
	color: #ffffff;
	font-size: 20px;
}
.ts-carousel-modern.owl-carousel .owl-controls .owl-nav .owl-prev, 
.ts-carousel-modern.owl-carousel .owl-controls .owl-nav .owl-next{
	top: 50%
}
.ts-carousel-mini.owl-carousel .owl-controls .owl-nav .owl-prev, 
.ts-carousel-mini.owl-carousel .owl-controls .owl-nav .owl-next{
	top: 40%
}
.ts-portfolio-carousel.owl-carousel .owl-controls .owl-nav .owl-prev:hover, 
.ts-portfolio-carousel.owl-carousel .owl-controls .owl-nav .owl-next:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-portfolio-carousel{
	position: relative;
}
.ts-portfolio-carousel.owl-carousel .owl-controls .owl-nav .owl-prev{
	left: 0;
}
.ts-portfolio-carousel.owl-carousel .owl-controls .owl-nav .owl-next{
	right: 0;
}
.ts-carousel-mini .info-porfolio{
	background: #ffffff;
	padding: 20px 15px;
}
.ts-carousel-mini .content-hover .icon{
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 52px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	padding: 0;
	color: #ffffff;
	display: inline-block;
	vertical-align: top;
}
.ts-carousel-mini .content-hover .icon:hover{
	border-color: #ffffff;
}
.ts-carousel-mini .content-hover .border-right{display: none;}
.owl-carousel .owl-controls .owl-dots{
	text-align: center;
	margin-top: 25px;
}
.owl-carousel .owl-controls .owl-dots .owl-dot{
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: black;
	opacity: 0.2;
	filter: alpha(opacity=0.2);
	margin: 0 3px;
}
.owl-carousel .owl-controls .owl-dots .owl-dot.active{
	opacity: 1;
	filter: alpha(opacity=1);
}
.ts-portfolio-carousel.owl-carousel .owl-controls .owl-dots{
	position: absolute;
	bottom: -40px;
	width: 100%;
	margin-top: 0;
}
/* ------------TEAM CAROUSEL------------- */
.ts-team-carousel .team-item{
	position: relative;
	overflow: hidden;
}
.ts-team-carousel .team-item .member-hover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(39,40,45,0.8);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.3s ease-out 0s;
	-o-transition: opacity 0.3s ease-out 0s;
	transition: opacity 0.3s ease-out 0s;
}
.ts-team-carousel .team-item:hover .member-hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-team-carousel .team-item .member-hover .social-network{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.ts-team-carousel .team-item .member-hover .info-member{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 37px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 8px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.ts-team-carousel .team-item .member-hover .info-member h6{
	color: #ffffff;
	margin: 0;
}

.ts-team-carousel .team-item:hover .member-hover .info-member{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-team-carousel .team-item:hover .social-network li{
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}
.ts-team-carousel .team-item .social-network li{
	display: inline-block;
	list-style: none;
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	-o-transform: translateY(40px);
	transform: translateY(40px);
	margin: 0 3px;
}
.ts-team-carousel .social-network > li{
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.ts-team-carousel .social-network > li + li{
	-webkit-transition: all 0.4s ease-out 0.04s;
	-o-transition: all 0.4s ease-out 0.04s;
	transition: all 0.4s ease-out 0.04s;
}
.ts-team-carousel .social-network > li + li + li{
	-webkit-transition: all 0.4s ease-out 0.08s;
	-o-transition: all 0.4s ease-out 0.08s;
	transition: all 0.4s ease-out 0.08s;
}
.ts-team-carousel .social-network > li + li + li + li{
	-webkit-transition: all 0.4s ease-out 0.12s;
	-o-transition: all 0.4s ease-out 0.12s;
	transition: all 0.4s ease-out 0.12s;
}
.ts-team-carousel .social-network li a{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #ffffff;
	border: 1px solid rgba(255,255,255,0.3);
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.ts-team-carousel .social-network li a:hover{
	background-color: #aa9d71;
	border-color: #aa9d71;
}
/* ---------ICONS BOX CAROUSEL------------- */
.ts-iconsbox-carousel .item-iconbox{
	text-align: center;
}
.ts-iconsbox-carousel.light .item-iconbox{
	color: #ffffff;
}
.ts-iconsbox-carousel.dark .icon{
	color: #000000;
}
.item-iconbox .icon{
	font-size: 40px;
}
.item-iconbox h5{
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 10px 0;
}
.ts-iconsbox-carousel.light .item-iconbox h5 a{
	color: #ffffff;
}
.ts-iconsbox-carousel.dark .item-iconbox h5 a{
	color: #000000;
}
.ts-iconsbox-carousel.light.owl-carousel .owl-controls .owl-dots .owl-dot{
	background-color: #ffffff;
}
/* ----------BLOG CAROUSEL----------- */
.ts-blog-carousel .img-post{
	position: relative;
	overflow: hidden;
}
.ts-blog-carousel .item-post .img-post img{
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.ts-blog-carousel .item-post:hover .img-post img{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.ts-blog-carousel .img-post .post-hover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(39,40,45,0.8);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.ts-blog-carousel .item-post:hover .img-post .post-hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-blog-carousel .item-post .icon{
	width: 50px;
	height: 50px;
	color: #ffffff;
	line-height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	display: inline-block;
	text-align: center;
	font-size: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
}
.ts-blog-carousel .item-post .icon:hover{
	border-color: #ffffff;
}
.ts-blog-carousel .item-post .meta-post .date-post{
	font-size: 8px;
	letter-spacing: 4px;
	text-transform: uppercase;
	line-height: 26px;
}
.ts-blog-carousel .item-post .meta-post .comment-post{
	float: right;
	font-size: 8px;
	color: #757575
}
.ts-blog-carousel .item-post .meta-post .comment-post:hover{
	color: #aa9d71;
}
.ts-blog-carousel .item-post .meta-post .comment-post .fa{
	font-size: 10px;
	margin-left: 4px;
    margin-top: -5px;
    vertical-align: middle;
}
.ts-blog-carousel.blog-default .meta-post{
	border-bottom: 1px solid rgba(0,0,0,0.08);
	padding: 4px 0;
}
.ts-blog-carousel .item-post h6{
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.ts-blog-carousel .item-post h6 a{
	color: #010101
}
.ts-blog-carousel .item-post h6 a:hover{
	color: #aa9d71;
}
.ts-blog-carousel.blog-default h6{
	margin-top: 10px;
}
.ts-blog-carousel.blog-background .item-post .info-post{
	background: #ffffff;
	padding: 25px 20px 0;
}
.ts-blog-carousel.blog-background h6:after{
	content: "";
	width: 30px;
	height: 2px;
	background-color: rgba(0,0,0,0.08);
	display: block;
	margin-top: 15px
}
.ts-blog-carousel.blog-background h6{
	margin-bottom: 20px;
	margin-top: 0;
}
.ts-blog-carousel.blog-background .meta-post{
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,0.08);
	margin-top: 20px;
}
.ts-blog-carousel .owl-nav > div{
	height: 46px;
	margin-top: -50px;
	position: absolute;
	text-indent: -9999px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 25px;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.ts-blog-carousel .owl-nav > div:hover,
.ts-blog-carousel .owl-nav > div:focus{
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-blog-carousel .owl-nav .owl-prev{
	background: url(../images/arrow-left.png) no-repeat center;
	left: -65px
}
.ts-blog-carousel .owl-nav .owl-next{
	background: url(../images/arrow-next.png) no-repeat center;
	right: -65px
}
/* ------ SLIDE DEVICED ------- */
.ts-devicedslide{
	position: relative;
	margin: 0;
}
.ts-desktop-slide {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 758px;
}
.ts-desktop-image {
  left: 0;
  position: absolute;
  top: 0;
}
.ts-desktop-image {
  z-index: 50;
}
.slide-container{
  display: inline-block;
  max-width: 100%;
  position: relative;
}
.slide-container .ts-deviced-slide{
	position: relative;
}
.slide-container .ts-deviced-slide:after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.12);
}
.ts-devicedslide ul.ts-deviced-slide {
  display: block;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.ts-devicedslide ul.ts-deviced-slide img {
  display: block;
  width: 100%;
}
.ts-devicedslide .flex-direction-nav > li > a{
	position: absolute;
	top: 50%;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 46px;
	width: 25px;
	display: block;
	text-indent: -9999px;
	text-align: left;
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	z-index: 60;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.ts-devicedslide:hover .flex-direction-nav > li > a{
	opacity: 0.2;
	filter: alpha(opacity=)0.2;
}
.ts-devicedslide .flex-direction-nav .flex-prev{
	left: 30px;
	background: url(../images/arrow-left.png) no-repeat center;
}
.ts-devicedslide .flex-direction-nav .flex-next{
	right: 30px;
	background: url(../images/arrow-next.png) no-repeat center;
}
.ts-devicedslide:hover .flex-direction-nav .flex-prev{
	left: 0px;
}
.ts-devicedslide:hover .flex-direction-nav .flex-next{
	right: 0px;
}
.ts-devicedslide .flex-direction-nav > li > a:hover,
.ts-devicedslide:hover .flex-direction-nav > li > a:hover{
	opacity: 1;
	filter: alpha(opacity=1);
}

.ts-desktop-slide .flex-direction-nav > li > a{
	top: 40%;
}
.ts-desktop-slide .flex-direction-nav > li > a{
	width: 30px;
	height: 61px;
	line-height: 61px;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0);
	background-color: black;
}
.ts-desktop-slide:hover .flex-direction-nav > li > a{
	opacity: 0.5;
	filter: alpha(opacity=0.5);
}
.ts-desktop-slide .flex-direction-nav .flex-prev{
	left: 50px;
	background: url(../images/des-arrowleft.png) no-repeat center;
}
.ts-desktop-slide .flex-direction-nav .flex-next{
	right: 50px;
	background: url(../images/des-arrowright.png) no-repeat center;
}

.ts-devicedslide .flex-control-nav{
	z-index: 60;
}
.ts-devicedslide .flex-control-paging li{
	margin: 0 3px;
	line-height: normal;
}
.ts-devicedslide .flex-control-paging li a{
	display: inline-block;
	width: 7px;
	height: 7px;
	background: #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.ts-devicedslide .flex-control-paging li a.flex-active{
	opacity: 1;
	filter: alpha(opacity=100);
}
.ts-desktop-slide .flex-control-nav{
	bottom: 160px;
}
.ts-laptop-slide{
	max-width: 705px;
	max-height: 406px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.ts-laptop-image{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 50
}
.ts-mobile-slide1{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	max-width: 269px;
	max-height: 538px;
}
.ts-mobile1-image{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 50
}
.ts-mobile-slide2{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	max-width: 277px;
	max-height: 540px;
}
.ts-mobile2-image{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 50
}
.ts-mobile-slide1:hover .flex-direction-nav .flex-prev,
.ts-mobile-slide2:hover .flex-direction-nav .flex-prev{
	left: -40px;
}
.ts-mobile-slide1:hover .flex-direction-nav .flex-next,
.ts-mobile-slide2:hover .flex-direction-nav .flex-next{
	right: -40px;
}
.ts-browser-slide{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 0 50px;
}
.ts-browser-slide .ts-browser-image{
	width: 100%
}
.ts-browser-slide .flex-control-nav{
	bottom: 25px;
}
/* ----------AUDIO HTML 5------------- */
.audio-wraper {
  position: relative;
}
.audio-wrap {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}
div.jp-interface {
  background-color: rgba(0,0,0,0.7);
  height: 54px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  -webkit-transition: opacity 0.5s ease-in-out 0s, margin 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s, margin 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s, margin 0.5s ease-in-out 0s;
  width: 100%;
}
.jp-interface .jp-controls {
  float: left;
  line-height: 54px;
  max-height: 54px;
  overflow: hidden;
  text-align: left;
}
.jp-interface .jp-controls button.jp-play::before {
  color: #ffffff;
  content: "\f0da";
  font-family: "FontAwesome";
  font-size: 18px;
  line-height: 55px;
}
.jp-state-playing .jp-interface .jp-controls button.jp-play::before {
  content: "\f04c";
  font-size: 12px;
}
div.jp-progress {
  background-color: rgba(255,255,255,0.3);
  float: left;
  height: 3px;
  margin-top: 25px;
  overflow: hidden;
  width: 77%;
}
.jp-progress .jp-seek-bar {
  height: 100%;
  position: relative;
}
div.jp-play-bar {
  background-color: #ffffff;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 0;
}
.jp-volume-controls {
  float: right;
  margin-left: 14px;
  width: auto;
}
.jp-volume-controls .jp-mute::before {
  color: #ffffff;
  content: "\f028";
  font-family: "FontAwesome";
  font-size: 14px;
  line-height: 55px;
}
.jp-state-muted .jp-volume-controls .jp-mute::before {
 content: "\f026";
}
.jp-interface .jp-controls button.jp-play,.jp-volume-controls .jp-mute{
  background: transparent;
  border: medium none;
  color: transparent;
  padding: 0;
  position: relative;
  width: 15px;
  float: left;
}
.jp-interface .jp-controls button.jp-play{margin-right: 5px}
.jp-volume-controls .jp-mute{
	margin-right: 10px;
}
div.jp-volume-bar {
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
  display: inline-block;
  height: 3px;
  overflow: hidden;
  position: relative;
  width: 55px;
  z-index: 2;
  float: left;
  margin-top: 25px
}
div.jp-volume-bar-value {
  background-color: #ffffff;
  height: 3px;
  width: 0;
}
.jp-title {
  background: #000000;
  color: #ffffff;
  padding: 0px 22px;
  text-align: left;
  font-size: 13px;
  line-height: 27px;
  display: inline-block;
}
.audio-wraper .post-thumb .post-thumbnail > img{
	width: 100%;
}
video {
	max-width: 100%;
	height: auto;
}
iframe,
embed,
object {
max-width: 100%;
}
/* ----------ICON BOXES--------- */
.ts-iconbox h3{
	text-transform: uppercase;
	font-size: 10px;
	display: block;
	line-height: 26px;
	margin-bottom: 13px;
}
.ts-iconbox h3 a{
	color: #000000
}
.ts-iconbox h3 a:hover{
	color: #aa9d71;
}
.ts-iconbox .icon{
	-webkit-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.iconbox-style1 .icon{
	font-size: 25px;
	float: left;
	margin-right: 14px;
	color: #aa9d71;
}
.iconbox-style1 h3{
	margin-top: 0;
}
.iconbox-style2{text-align: center;}
.iconbox-style2 .icon{
	width: 97px;
	height: 97px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	text-align: center;
	font-size: 25px;
	color: #000000;
	line-height: 100px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}
.iconbox-style2:hover .icon{
	color: #ffffff;
	border-color: #aa9d71;
	background-color: #aa9d71;
}
.iconbox-style2 h3{
	margin-top: 14px;
	margin-bottom: 8px;
}
.iconbox-style3{
	text-align: center;
	padding: 0 17px;
}
.iconbox-style3 .icon{
	font-size: 40px;
}
.iconbox-style3:hover .icon{
	color: #aa9d71;
}
.ts-iconbox .ts-readmore, .ts-readmore{
	color: #757575;
	display: inline-block;
	font-family: "Varela Round";
	font-size: 8px;
	line-height: 26px;
	letter-spacing: 4px;
	position: relative;
	text-transform: uppercase;
	-webkit-transform: transform 0.3s ease-in-out 0s;
	-ms-transform: transform 0.3s ease-in-out 0s;
	-o-transform: transform 0.3s ease-in-out 0s;
	transform: transform 0.3s ease-in-out 0s;
}
.ts-iconbox .ts-readmore:hover, .ts-readmore:hover{
	color: black;
}
.ts-iconbox .ts-readmore::after, .ts-readmore:after{
 content: "\e04b";
  display: inline-block;
  font-family: "linea-arrows-10";
  font-size: 14px;
  vertical-align: middle;
  letter-spacing: 0;
}
.ts-iconbox .ts-readmore::before, .ts-readmore:before{
  background: #000000;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  -webkit-transition:  width 0.3s ease 0s;
  -o-transition:  width 0.3s ease 0s;
  transition:  width 0.3s ease 0s;
  width: 0;
}
.ts-iconbox .ts-readmore:hover::before, .ts-readmore:hover:before{
	width: 97%;
}
.iconbox-style4 .icon{
	font-size: 40px;
	color: #ffffff;
	padding: 44px 0;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.iconbox-style4 h3{
	margin-bottom: 8px;
	margin-top: 17px;
}
.iconbox-style5 .icon{
	width: 87px;
	height: 87px;
	background-color: #aa9d71;
	font-size: 25px;
	color: #ffffff;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
	padding: 30px;
	margin-bottom: -25px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.iconbox-style5 h3{
	margin-top: 0;
	margin-bottom: 10px;
}
.iconbox-style5 .ts-readmore{
	margin-top: 13px;
}
.iconbox-style5{
	background-color: rgba(255,255,255,0.85);
	padding: 0px 25px 40px;
	text-align: center;
}
.iconbox-style6 .content-iconbox{
	border: 1px solid rgba(0,0,0,0.08);
	padding: 20px 15px 30px 65px;
	position: relative;
	margin-left: 43px;
}
.iconbox-style6 h3{
	margin-top: 0;
}
.iconbox-style6 .icon{
	position: absolute;
	width: 87px;
	height: 87px;
	background-color: #000000;
	font-size: 25px;
	color: #ffffff;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
	padding: 30px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
}
.iconbox-style7{
	text-align: center;
	background-color: #ffffff;
	padding: 25px 25px 30px;
}
.iconbox-style7 h3{
	margin-top: 0;
	margin-bottom: 0;
}
.iconbox-style7 .icon{
	font-size: 40px;
	margin: 20px 0;
	display: inline-block;
}
.iconbox-style7 .ts-readmore{
	margin-top: 10px
}
.ts-section-iconbox {
  overflow: hidden;
}
.ts-section-iconbox .bg-iconbox{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 50%;
	float: left;
}
.ts-section-iconbox.right-bg .bg-iconbox{
	float: right;
}
.ts-section-iconbox .list-iconbox{
	float: left;
	width: 50%;
	padding-bottom: 60px;
    padding-top: 120px;
}
.ts-section-iconbox .list-iconbox .ts-iconbox{
	margin-bottom: 65px;
}
.ts-section-iconbox.left-bg .list-iconbox{
	padding-left: 84px;
}
.ts-section-iconbox.right-bg .list-iconbox{
	padding-right: 80px;
}
.section-iconbox-style9 .list-iconbox{
	background-color: #27282d;
}
.ts-section-iconbox .bg-iconbox figure{display: none;}
.iconbox-style8 .icon{
	width: 87px;
	height: 87px;
	border: 1px solid rgba(0, 0, 0, 0.08);
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	padding: 30px;
	font-size: 25px;
	line-height: 26px;
	color: black;
	text-align: center;
	float: left;
	margin-top: 6px;
}
.iconbox-style8:hover .icon{
	background-color: #aa9d71;
	color: #ffffff;
}
.iconbox-style8 .content-iconbox{
	padding-left: 107px;
	display: block;
}
.iconbox-style8 h3{
	margin-top: 0;
	margin-bottom: 10px;
}
.iconbox-style9{
	text-align: right;
	color: #ffffff;
}
.iconbox-style9 .icon{
	font-size: 40px;
	float: right;
}
.iconbox-style9:hover .icon{
	color: #aa9d71;
}
.iconbox-style9 .content-iconbox{
	padding-right: 60px;
	display: block;
}
.iconbox-style9 h3{line-height: 40px;}
.iconbox-style9 h3 a{color: #ffffff;}
.iconbox-style10{
	text-align: center;
	min-height: 300px;
	position: relative;
}
.iconbox-style10 .icon{
	font-size: 80px;
	color: #aa9d71;
}
.iconbox-style10 h3{
	margin-top: 10px;
	margin-bottom: 10px;
}
.iconbox-style10 .icon-title{
	padding: 83px 20px;
	background-color: #f8f8f8;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	 -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.iconbox-style10:hover .icon-title{
	-webkit-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.iconbox-style10 .content-hover{
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	width: 100%;
	height: 100%;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    left: 0;
    top: 0;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.iconbox-style10:hover .content-hover{
	 -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
	-webkit-backface-visibility: visible;
    backface-visibility: visible;
}
.iconbox-style10 .content-hover h3{
	color: #ffffff;
}
/* ------LASTEST POST------- */
.ts-lastest-posts .meta-post{
 	padding: 5px 0;
}
.ts-lastest-posts .item-post .meta-post .date-post {
  font-size: 8px;
  letter-spacing: 4px;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
}
.ts-lastest-posts .item-post .meta-post .comment-post {
  color: #757575;
  float: right;
  font-size: 8px;
}
.ts-lastest-posts .item-post .meta-post .comment-post .fa {
  font-size: 10px;
  line-height: 26px;
  margin-left: 4px;
  margin-top: -3px;
  vertical-align: middle;
}
.ts-lastest-posts.style-classic .img-post{
	position: relative;
	overflow: hidden;
}
.ts-lastest-posts.style-classic .img-post .post-hover {
  background-color: rgba(39, 40, 45, 0.8);
  height: 100%;
  left: 0;
 opacity: 0;
 filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.ts-lastest-posts.style-classic .item-post:hover .img-post .post-hover {
  	opacity: 1;
 	filter: alpha(opacity=1);
}
.ts-lastest-posts.style-classic .item-post .icon {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  height: 50px;
  left: 50%;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.ts-lastest-posts.style-classic .item-post .img-post img {
   -webkit-transition: all 0.3s ease 0s;
   -o-transition: all 0.3s ease 0s;
   transition: all 0.3s ease 0s;
}
.ts-lastest-posts.style-classic .item-post:hover .img-post img {
   	-webkit-transform: scale(1.2);
   	-ms-transform: scale(1.2);
   	-o-transform: scale(1.2);
   	transform: scale(1.2);
}

.ts-lastest-posts.style-classic  .item-post .icon:hover {
  border-color: #ffffff;
}
.ts-lastest-posts.style-classic .meta-post {
  	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.ts-lastest-posts h6{
	text-transform: uppercase;
	color: #010101;
	line-height: 22px;
	margin-bottom: 15px;
}
.ts-lastest-posts h6 a{
	color: #010101;
}
.ts-lastest-posts h6 a:hover{
	color: #aa9d71;
}
.ts-lastest-posts.style-classic h6::after {
  background-color: rgba(0, 0, 0, 0.08);
  content: "";
  display: block;
  height: 2px;
  margin-top: 15px;
  width: 30px;
}
.ts-lastest-posts .item-post .meta-post .comment-post:hover {
  color: #aa9d71;
}
.ts-lastest-posts.fullwidth-modern .item-post{
	min-height: 374px;
	padding: 60px 32px 60px 28px;
	background-color: #f8f8f8;
	position: relative;
}
.ts-lastest-posts.fullwidth-modern .item-post:nth-child(2n){
	background-color: #f3f3f3;
}
.ts-lastest-posts.fullwidth-modern .item-post .img-post{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.ts-lastest-posts.fullwidth-modern .item-post:hover .img-post{
	opacity: 1;
	filter: alpha(opacity=1);
}
.ts-lastest-posts.fullwidth-modern .img-post:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(39,40,45,0.6);
}
.ts-lastest-posts.fullwidth-modern .item-post .img-post img{
	height: 100%;
	max-width: none;
	min-width: 100%;
}

.ts-lastest-posts.fullwidth-modern .item-post h6{
	margin-top: 0;
	position: relative;
}
.ts-lastest-posts.fullwidth-modern .item-post .meta-post{
	border-top: 1px solid rgba(0,0,0,0.08);
}
.ts-lastest-posts.fullwidth-modern .meta-post{
	padding: 10px 0;
	position: relative;
}
.ts-lastest-posts.fullwidth-modern .row{
	margin-left: 0;
	margin-right: 0;
}
.ts-lastest-posts.fullwidth-modern .item-post .ts-linkreamore{
	font-size: 30px;
	color: #000000;
	position: absolute;
	bottom: 50px;
}
.ts-lastest-posts.fullwidth-modern .item-post:hover .ts-linkreamore,
.ts-lastest-posts.fullwidth-modern .item-post:hover h6,
.ts-lastest-posts.fullwidth-modern .item-post:hover .meta-post,
.ts-lastest-posts.fullwidth-modern .item-post:hover a{
	color: #ffffff;
}
.ts-lastest-posts.fullwidth-modern .item-post:hover  h6 a:hover{
	color: #aa9d71
}
.ts-lastest-posts.fullwidth-modern .item-post:hover .meta-post{
	border-color: rgba(255,255,255,0.08);
}
.ts-lastest-posts.list-style1 .item-post {
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: -1px
}
.ts-lastest-posts.list-style1 .item-post:hover{
	background-color: #f8f8f8;
}
.ts-lastest-posts.list-style1 .item-post:first-child:before{
	content: "";
	height: 1px;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.08);
	position: absolute;
	z-index: -1;
}
.ts-lastest-posts.list-style1 .item-post:after{
	content: "";
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.08);
	position: absolute;
	z-index: -1;
}
.ts-lastest-posts.list-style1 .item-post .img-post{
	float: left;
	position: relative;
	overflow: hidden;
}
.ts-lastest-posts.list-style1 .item-post .img-post img{
	max-width: 263px;
}
.ts-lastest-posts.list-style1 .item-post .img-post:after{
	content: "";
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(39,40,45,0.8);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
	transition: all 0.4s ease-out 0s;
}
.ts-lastest-posts.list-style1 .item-post:hover .img-post:after{
	opacity: 1;
	filter: alpha(opacity=1);
}
.ts-lastest-posts.list-style1 .item-post .img-post .ts-linkreamore {
  font-size: 30px;
  color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  z-index: 1;
}
.ts-lastest-posts.list-style1 .item-post:hover .img-post .ts-linkreamore {
	opacity: 1;
	filter: alpha(opacity=1);
	top: 50%;
}
.ts-lastest-posts.list-style1 .item-post:nth-child(2n) .img-post{
	float: right;
}
.ts-lastest-posts.list-style1 .item-post .info-post{
	overflow: hidden;
	padding: 34px 30px;
}
.ts-lastest-posts.list-style1 .item-post:nth-child(2n) .info-post{
	text-align: right;
}
.ts-lastest-posts.list-style1 .item-post h6{
	margin-top: 0;
	margin-bottom: 0;
	line-height: normal;
}
.ts-lastest-posts.list-style1 .item-post .meta-post .comment-post{
	float: none;
}
.ts-lastest-posts.list-style1 .item-post .meta-post{
	line-height: normal;
	padding: 0;
	margin-bottom: 15px;
}
.ts-lastest-posts.list-style1 .item-post .meta-post .date-post{
	line-height: normal;
}
.ts-lastest-posts.list-style1 .item-post .meta-post .date-post:after{
	content: "/";
	margin-left: 5px;
}
.ts-lastest-posts.list-style1 .info-post > p {
  margin-bottom: 0;
}
.ts-lastest-posts.list-style2 .item-post{
	text-align: center;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.ts-lastest-posts.list-style2 .item-post .name-category{
	text-transform: uppercase;
	letter-spacing: 4px;
	border: 2px solid #aa9d71;
	color: #aa9d71;
	line-height: 24px;
	padding: 0 18px;
	font-size: 8px;
	display: inline-block;
}
.ts-lastest-posts.list-style2 .item-post h6{
	margin: 12px 0 4px;
}
.ts-lastest-posts.list-style2 .meta-post{line-height: normal; padding: 0}
.ts-lastest-posts.list-style2 .meta-post .date-post{line-height: normal;}
.ts-lastest-posts.list-style2 .meta-post .date-post:after{
	content: "/";
	margin-left: 5px;
}
.ts-lastest-posts.list-style2 .meta-post .comment-post{float: none;}
.ts-lastest-posts.list-style2 .item-post .info-post{
	border-bottom: 1px solid rgba(0,0,0,0.08);
	padding: 20px 0;
}
.ts-lastest-posts.list-style2 .item-post:hover{
	background-color: #aa9d71;
	color: #ffffff;
}
.ts-lastest-posts.list-style2 .item-post:hover .name-category{
	border-color: #ffffff;
	color: #ffffff;
}
.ts-lastest-posts.list-style2 .item-post:hover h6 a{
	color: #ffffff;
}
.ts-lastest-posts.list-style2 .item-post:hover .comment-post{color: #ffffff;}
.ts-lastest-posts.list-style2 .item-post .container{max-width: 100%}
.ts-lastest-posts.list-style-bgimg .item-post{
	padding: 50px 0;
	text-align: center;
	color: #ffffff;
	position: relative;
}
.ts-lastest-posts.list-style-bgimg .item-post:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(39,40,45,0.66);
}
.ts-lastest-posts.list-style-bgimg .item-post .info-post{
	position: relative;
	z-index: 1;
	padding: 0 15px;
}
.ts-lastest-posts.list-style-bgimg .item-post .icon{
	font-size: 40px;
	line-height: 26px;
	margin-bottom: 16px;
	display: inline-block;
}
.ts-lastest-posts.list-style-bgimg .item-post h6{
	margin: 0;
}
.ts-lastest-posts.list-style-bgimg .item-post h6,
.ts-lastest-posts.list-style-bgimg .item-post h6 > a{
	color: #ffffff;
}
.ts-lastest-posts.list-style-bgimg .item-post h6 > a:hover{
	color: #aa9d71;
}
.ts-lastest-posts.list-style-bgimg .item-post .meta-post{
	letter-spacing: 4px;
	font-size: 8px;
	text-transform: uppercase;
}
.ts-lastest-posts.list-style-bgimg .item-post .meta-post a{
	color: #ffffff;
}
.ts-lastest-posts.list-style-bgimg .item-post .meta-post a:hover{
	color: #aa9d71;
}
.ts-lastest-posts.list-style-bgimg .item-post .meta-post .comment-post{
	float: none;
}
.ts-lastest-posts.list-style-bgimg .item-post .meta-post .name-category:after,
.ts-lastest-posts.list-style-bgimg .item-post .meta-post .date-post:after{
	content: "/";
	margin-left: 5px;
}
/* ----------DIVIDER----------- */
.divider{
	width: 100%;
	margin: 35px auto;
	border-width: 1px 0 0 0;
	border-color: #eeeeee;
}
.divider-double{
	border-bottom-width: 1px;
	height: 5px;
}
.divider-solid{
	border-style: solid;
}
.divider-dash{
	border-style: dashed;
	border-color: #e6e6e6;
}
.divider-h2{
	border-top-width: 2px;
}
.divider-shadow{
	border: none;
	overflow: hidden;
}
.divider-shadow .divider-shadowleft, .divider-shadow .divider-shadowright{
	background-image: url(../images/shadow-line.png); 
	background-repeat: no-repeat;
	height: 10px;
	float: left;
	display: inline-block;
	width: 50%;
}
.divider-shadow .divider-shadowleft{
	background-position: left center;
}
.divider-shadow .divider-shadowright{
	background-position: right center;
}
.divider-content{
	overflow: hidden;
	text-align: center;
}
.divider-content > .divider-contentinner {
  color: #333333;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  position: relative;
}
.divider-content .icon{font-size: 16px;}
.divider-content > .divider-contentinner::before, .divider-content > .divider-contentinner::after {
  border-bottom: 1px solid #eeeeee;
  border-color: #eeeeee;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 49%;
  width: 9999%;
}
.divider-content > .divider-contentinner::before {
  margin-right: 15px;
  right: 100%;
}
.divider-content > .divider-contentinner::after {
  left: 100%;
  margin-left: 15px;
}
.divider-content  .scroll-top,
.divider-content  .scroll-bottom{
	cursor: pointer;
	position: relative;
	z-index: 4
}
/* ----------DROPCAP----------- */
.dropcap{
	text-align: center;
	width: 55px;
	height: 55px;
	font-size: 35px;
	line-height: 55px;
	color: #000000;
	margin: 8px 10px 5px 0;
	float: left;
	font-weight: 500;
}
.dropcap-outline{
	border: 1px solid #000000;
}
.dropcap-circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.dropcap-round{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.dropcap-normal{font-size: 50px;}

/* -----------SKILL BARS-------------- */
.ts-skillbars .item-skillbar {
  margin-bottom: 17px;
}
.item-skillbar {
  display: block;
  height: auto;
  position: relative;
  -webkit-transition: width 0.4s linear 0s;
  -o-transition: width 0.4s linear 0s;
  transition: width 0.4s linear 0s;
  width: 100%;
}
.skillbar-title {
  font-size: 10px;
  font-weight: 400;
  font-family: 'Varela Round';
  text-transform: uppercase;
  color: black;
  letter-spacing: 4px;
  line-height: 37px;
}
.item-skillbar .skill-bar-bg{
  height: 5px;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  background-color: #f3f3f3;
}
.item-skillbar .skill-bar-bg .skillbar-bar{
	height: 100%;
	position: relative;
	width: 0;
	background-color: #aa9d71;
}
.skillbar-bar .skill-bar-percent {
  line-height: 30px;
  text-transform: uppercase;
  position: absolute;
  right: 0px;
  top: -30px;
  font-size: 10px;
  font-weight: 400;
  font-family: 'Varela Round';
  text-transform: uppercase;
  color: black;
  letter-spacing: 4px;
}
/* ----------SKILL DIAGRAM------------- */
.ts-skill-diagram .ts-skill-chart{
	display: none;
}

/* -------------------------- */
/* ------ 	RESPONSIVE 	----- */
/* -------------------------- */
@media(max-width: 991){
	.ts-section-iconbox .bg-iconbox figure{display: block;}
}
@media(min-width: 768px) and (max-width: 991px){
	.ts-header-contact-info .contact-text{
		padding: 4px 10px;
	}
	.ts-header-social a{
		padding: 4px 0; 
		width: 45px;
		font-size: 14px;
	}
	.header-main-section .logo{width: 13%; margin-top: 15px;}
	.header-main-section .header-right{width: 87%}
	.ts-main-menu > ul > li {
	  padding: 0 7px;
	}
	.icon-header-socialshare{
		margin-left: 17px;
		margin-top: 17px;
	}
	.icon-header-search{
		margin-left: 8px;
		margin-top: 17px;
	}
	.header-cart{
		padding: 17px 0;
	}
	.header-cart .cart-number-items{top: 2px}
	.ts-main-menu > ul > li > a{padding: 17px 0;}
	.shortcode-column.image-background .column-item .content-column{
		padding: 50px 39px;
	}
	.shortcode-column .column-item{
		width: 50%!important;
	}
	.shortcode-column.three-column .column-item{
		width: 33.33%!important;
	}
	.shortcode-column.multiple-column .column-item{
		border-top: none;
	}
	.shortcode-column.multiple-column .column-item:nth-child(1),
	.shortcode-column.multiple-column .column-item:nth-child(2){
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	.shortcode-column.multiple-column.three-column .column-item:nth-child(1),
	.shortcode-column.multiple-column.three-column .column-item:nth-child(2),
	.shortcode-column.multiple-column.three-column .column-item:nth-child(3){
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	.shortcode-column.slimple-icon .column-item{
		border-top: none;
	}
	.shortcode-column.slimple-icon .column-item:nth-child(1),
	.shortcode-column.slimple-icon .column-item:nth-child(2){
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	.shortcode-column.slimple-icon.three-column .column-item:nth-child(1),
	.shortcode-column.slimple-icon.three-column .column-item:nth-child(2),
	.shortcode-column.slimple-icon.three-column .column-item:nth-child(3){
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	.shortcode-column.colorful-animate.three-column .column-item{
		padding: 35px 25px
	}
	.shortcode-column.colorful-animate.three-column .column-item::before, .shortcode-column.colorful-animate.three-column .column-item::after{
		left: 15px;
		right: 15px;
	}
}
@media(max-width: 767px){
	.togole-navigation{
		display: block;
		float: right;
	}
	nav.ts-main-menu{
		display: none;
	}
	.header-top-section{display: none;}
	.header-main-section .logo {
	  margin-top: 15px;
	  width: 30%;
	}
	.header-main-section .header-right{width: 67%}
	.icon-header-socialshare, .icon-header-search{margin-top: 15px;}
	.icon-header-search{margin-left: 10px}
	.header-cart{padding: 15px 0;}
	.header-cart .cart-number-items{top: 0px}
	.ts-main-menu{
		display: block;
		left: 0;
		position: absolute;
		top: 100%;
		width: 100%;
		padding: 0 15px;
		background-color: rgba(0,0,0,0.8);
	}
	.ts-main-menu > ul > li{
		display: block;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		padding: 0;
	}
	.ts-main-menu > ul > li:last-child{
		border-bottom: none;
	}
	.ts-main-menu > ul > li > a{
		padding: 5px 0;
		display: block;
	}
	.ts-main-menu > ul > li > a::after{display: none;}
	.ts-acordion.accordion-style1 > h3 span.icon{margin-right: 10px;}
	.ts-acordion{margin-top: 30px;}
	.ts-cta{text-align: center;}
	.ts-cta .left-cta{
		display: block;
	}
	.ts-cta .right-cta{
		display: block;
		float: none;
		margin-top: 15px
	}
	.top-footer .row > div:last-child{border-top: none;}
	.top-footer .row > div{
		margin-top: 40px
	}
	.bottom-footer .copyright{
		display: block;
		text-align: center;
	}
	.bottom-footer .social-footer{
		display: block;
		float: none;
		text-align: center;
	}
	.bottom-footer .social-footer li{
		margin: 0 14px;
	}
	.shortcode-column .column-item{
		width: 100%!important;
	}
	.shortcode-column.multiple-column .column-item{
		border-top:none;
	}
	.shortcode-column.multiple-column .column-item:first-child{
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	.shortcode-column.multiple-column .column-item .content-hover{padding: 25px;}
	.shortcode-column.colorful-animate .column-item{
		min-height: 450px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
/* ------------------------------------------------------------------------------ */
/* SECTION VC*/
.section-skillbar-1{
	padding-bottom: 65px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.section-skill-diagram{
	padding: 20px 0 0px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.section-skill-diagram .title-section h4{
	font-size: 12px;
}
.section-skill-diagram .title-section{
	margin-top: 35px;
	margin-bottom: 25px;
}
.section-header-1{
	padding: 65px 0 0;
}
.section-header-2{
	padding: 100px 0 0;
}
.section-header-2 .title-section{
	margin-bottom: 110px;
}
.section-header-3{
	padding: 90px 0 0;
	background-color: #e0e0e0;
}
.section-header-3 .title-section{
	margin-bottom: 70px;
}
.section-header-4{
	padding: 130px 0 0;
	background-color: #e0e0e0;
}
.section-header-4 .title-section{
	margin-bottom: 90px;
}
.section-header-5{
	padding: 130px 0 0;
	background-color: #e0e0e0;
}
.section-header-5 .title-section{
	margin-bottom: 70px;
}
.section-header-6{
	padding: 130px 0 0;
	background-color: #e0e0e0;
}
.section-header-6 .title-section{
	margin-bottom: 95px;
}
.section-dropcap-4{
	padding: 95px 0;
	background-color: #f8f8f8;
}
.section-dropcap-4 .col-sm-6:first-child .dropcap{
	color: #8d6c6c;
}
.section-dropcap-3{
	padding: 85px 0;
}
.section-dropcap-3 .dropcap-round{
	background-color: #d2e3cf;
	color: #ffffff;
}
.section-dropcap-1{
	padding: 85px 0 90px;
}
.section-dropcap-2{
	padding: 95px 0 100px;
	background-color: #f8f8f8;
}
.section-dropcap-2 .dropcap-square{
	background-color: #aa9d71;
	color: #ffffff
}
.section-dropcap-2 .dropcap-circle{
	background-color: #879999;
	color: #ffffff
}
.section-divider{
	text-align: center;
}
.list-style-bgimg .item-post.bg1{
	background-image: url(../images/blog5.jpg);
}
.list-style-bgimg .item-post.bg2{
	background-image: url(../images/blog6.jpg);
}
.list-style-bgimg .item-post.bg3{
	background-image: url(../images/blog7.jpg);
}
.section-lastestpost-5{
	padding-top: 60px;
}
.section-lastestpost-4{
	background-color: #f8f8f8;
	padding: 50px 0 67px;
}
.section-lastestpost-3{
	padding: 80px 0 84px
}
.section-lastestpost-2{
	padding-top: 60px;
}
.section-lastestpost-1{
	padding: 85px 0 60px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.iconbox-style10.bg2 .icon-title{
	background-color: #aa9d71;
}
.iconbox-style10.bg2 .icon,
.iconbox-style10.bg2 .icon-title h3{
	color: #ffffff;
}
.iconbox-style10.bg3 .icon-title{
	background-color: #bcc7d0;
	color: #91a2b0;
}
.iconbox-style10.bg3 .icon,
.iconbox-style10.bg3 .icon-title h3{
	color: #91a2b0;
}
.section-iconboxes-10{
	padding: 100px 0;
}
.iconbox-style7.bg1 .icon{
	color: #aa9d71;
}
.iconbox-style7.bg2,
.iconbox-style7.bg3
{color: #ffffff;}
.iconbox-style7.bg2 .ts-readmore,
.iconbox-style7.bg3 .ts-readmore{color: #ffffff}
.iconbox-style7.bg2 .ts-readmore:before,
.iconbox-style7.bg3 .ts-readmore:before{
	background-color: #ffffff;
}
.iconbox-style7.bg2{
	background-color: #aa9d71;
}
.iconbox-style7.bg2 a,
.iconbox-style7.bg3 a{color: #ffffff}
.iconbox-style7.bg2 h3,
.iconbox-style7.bg3 h3{
	color: #ffffff;
}
.iconbox-style7.bg3{
	background-color: rgba(0,0,0,0.3);
}
.section-iconboxes-7{
	padding: 140px 0 145px;
	background-image: url(../images/bg-iconbox2.jpg);
}
.section-iconboxes-7 .overlay{
	background-color: rgba(39,40,45,0.8);
}
.iconbox-style6.bg1 .content-iconbox{
	background-color: #f8f8f8;
	border-color: #f8f8f8;
}
.iconbox-style6.bg1 .icon {
	background-color: #bcc7d0;
}
.section-iconboxes-6{
	padding: 98px 0 89px;
}
.section-iconboxes-5{
	padding: 138px 0 130px;
	background-image: url(../images/bg-iconbox1.jpg);
}
.section-iconboxes-5 .overlay{
	background-color: rgba(39,40,45,0.8);
}
.section-iconboxes-4{
	padding: 80px 0 90px;
}
.iconbox-style4.bg1 .icon{
	background-color: #dcc6b9;
}
.iconbox-style4.bg2 .icon{
	background-color: #bcc7d0;
}
.iconbox-style4.bg3 .icon{
	background-color: #d2e3cf;
}
.section-iconboxes-1{
	padding: 90px 0;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.section-iconboxes-2{
	padding: 80px 0;
}
.section-iconboxes-3{
	padding: 80px 0 95px 0;
	background-color: #f8f8f8;
}
#CTA-8{
	background-color: #879999;
}
.section-video .title-section{margin-bottom: 70px}
.section-column:first-child{
	padding-top: 0;
}
.section-audio{padding-top: 90px}
.section-video{
	padding: 100px 0;
}
.section-column{
	padding: 65px 0 60px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.section-column:last-child{
	padding-bottom: 0;
	border-bottom: none;
}
.section-deviced-slider{
	padding: 80px 0 95px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.section-blogcarousel-1{
	padding: 85px 0 65px 0;	
}
.section-blogcarousel-2{
	background-color: #f8f8f8;
	padding: 90px 0 65px 0;
}
#acordion-dark{
	padding: 88px 0 90px 0;
}
#acordion-light{
	padding: 100px 0 225px 0;
	background: url(../images/bg-accordion.jpg) no-repeat center;
	position: relative;
}
#acordion-light .overlay{
	background-color: rgba(0,0,0,0.75);
}
#acordion-light .title-section h3{
	font-size: 20px;
}
#CTA{
	background: #aa9d71;
}
#multiple-column{
	padding-top: 90px;
}
#colorful-animated{
	padding-top: 105px;
}
#colorful-animated .row{
	margin-left: 0;
	margin-right: 0;
}
#colorful-animated .col-sm-4{
	padding: 0;
}
.shortcode-column.colorful-animate .column-item.background-1{
	background-color: #dcc6b9;
}
.shortcode-column.colorful-animate .column-item.background-2{
	background-color: #bcc7d0;
}
.shortcode-column.colorful-animate .column-item.background-3{
	background-color: #d2e3cf;
}
#image-background{
	padding-top: 105px;
}
#image-background .row{
	margin-right: 0;
	margin-left: 0;
}
#image-background .row .col-md-3{
	padding: 0;
}
.background-column.bg1{
	background-image: url(../images/img1.png);
}
.background-column.bg2{
	background-image: url(../images/img2.png);
}
.background-column.bg3{
	background-image: url(../images/img3.png);
}
.background-column.bg4{
	background-image: url(../images/img4.png);
}
#simple-icon{
	padding-top: 100px;
}
#CTA-1{
	background-color: #879999;
}
#CTA-2{
	background-color: #aa9d71;
}
#acordion-light .title-section{
	margin-bottom: 65px;
}
#animated-number-1{
	padding: 110px 0;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
#animated-number-2{
	padding: 79px 0 105px;
}

#animated-number-3 .row{
	margin-left: 0;
	margin-right: 0;
}
#animated-number-3 .col-md-3{
	padding-left: 0;
	padding-right: 0;
}
#animated-number-4{
	padding: 135px 0;
}
#boxes-1 .title-section{
	margin-bottom: 20px;
}
#boxes-2{
	padding: 70px 0 0;
}
#boxes-2 .title-section{
	margin-bottom: 20px
}
.ts-textbox.bakground-1{
	background: #27282d;
}
.ts-textbox.bakground-2{
	background: #879999;
}
.buttons-section{
	padding-bottom: 90px
}
#CTA-3{
	background-color: #879999;
	margin-bottom: 43px;
}
#CTA-4{
	background-color: #f0f0f0;
	margin-bottom: 43px;
}
#CTA-4 .ts-cta{
	color: #000000;
	padding: 37px 0;
}
#CTA-4 .ts-cta h3{color: #000000;}
#CTA-5{
	background: url(../images/bgcta1.jpg) no-repeat center;
	position: relative;
	margin-bottom: 43px;
}
#CTA-5 .overlay{
	background: rgba(0,0,0,0.44)
}
#CTA-5 .ts-cta{
	padding: 43px 0;
}
section.title-sectioncta{
	padding-top: 90px;
}
#CTA-6{
	background: url(../images/bgcta2.jpg) no-repeat center;
	margin-bottom: 43px;
}
#CTA-7{
	position: relative;
	background-image: url(../images/bgcta3.jpg);
	padding: 100px 0;
}
#CTA-7 .overlay{
	background: rgba(0,0,0,0.44)
}
.client-1{
	padding: 90px 0 30px 0;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.client-2{
	padding: 50px 0;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.client-3{
	padding: 50px 0;
}
.client-4{
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
section.client-4 .client-boxed{
	margin-bottom: 80px;
}
.client-5{
	padding: 55px 0 75px 0;
	border-bottom: 1px solid rgba(0,0,0,0.08);
}
.client-6{
	padding-top: 60px;
}
.client-imagethumbs .client-item .ts-bg-client.bg1{
	background-image: url(../images/bg-client1.png);
}
.client-imagethumbs .client-item .ts-bg-client.bg2{
	background-image: url(../images/bg-client2.png);
}
.client-imagethumbs .client-item .ts-bg-client.bg3{
	background-image: url(../images/bg-client3.png);
}
.client-imagethumbs .client-item .ts-bg-client.bg4{
	background-image: url(../images/bg-client4.png);
}
.client-imagethumbs .client-item .ts-bg-client.bg5{
	background-image: url(../images/bg-client5.png);
}
.client-imagethumbs .client-item .ts-bg-client.bg6{
	background-image: url(../images/bg-client6.png);
}
.client-imagethumbs .client-item .ts-bg-client.bg7{
	background-image: url(../images/bg-client7.png);
}
.client-imagethumbs .client-item .ts-bg-client.bg8{
	background-image: url(../images/bg-client8.png);
}
.portfolio-section-1{
	padding: 90px 0 0px;
}
.portfolio-section-2{
	background-color: #f8f8f8;
	padding: 80px 0 97px 0;
}
.client-7{padding: 65px 0 80px}
.team-carousel-section{
	padding: 65px 0 70px;
	border-top: 1px solid rgba(0,0,0,0.08);
}
.section-iconsbox{
	padding: 80px 0 70px;
	background-image: url(../images/bgcta1.jpg);
}
.section-iconsbox .overlay{
	background-color: rgba(39,40,45,0.8);
}