.iconbox-style10 .content-hover h3 a {
    color: #ffffff;
}

.ts-client-shortcode.owl-carousel .owl-item img {
    max-width: 193px;
}

.client-boxed.has-slide .owl-item.active-last {
    border-right: none;
}

.client-boxed.has-slide[data-rtl="true"] .owl-item.active-last {
    border-right: 1px solid rgba(0,0,0,0.08);
}

.client-boxed.has-slide[data-rtl="true"] .owl-item.active-first {
    border-right: none;
}

.shortcode-column.image-background .background-column {
    background-position: center;
}